.links {
    width: 400px; height: 450px;
    overflow-y: auto;
    margin-top: 20px; padding: 0;
    border: 1px solid $dark-grey;
    border-radius: 4px;
    list-style-type: none;

    li {
        cursor: pointer;
        position: relative;
        margin: 0; padding: 0;
        width: 100%;
        border-bottom: 1px solid $middle-grey;
        text-align: left;
        @include display-flex;
        @include flex-direction(row);

        .unseen-indicator {
            position: absolute;
            left: 0; top: 0;
            width: 5px; height: 100%;
            background: $blue;
            display: none;
        }

        .img {
            width: 120px; height: 120px;
            margin: 15px;
            background: black none no-repeat center center;
            background-size: contain;
        }

        .info {
            width: 250px;
            margin: 15px 15px 15px 0;

            p {
                margin: 0; padding: 0;
                word-break: break-word;
            }

            .mate {
                font-size: 1em;
                margin-bottom: 10px;
            }

            .date {
                font-size: 0.9em;
                margin-bottom: 10px;
                color: $dark-grey;
                font-style: italic;
            }

            .comment {
                color: $darkest-grey;
                font-style: italic;
            }

            hr {
                width: 100%; height: 1px;
                border: none;
                background-color: $middle-grey;
                margin: 10px 0;
            }

            .title {
                font-size: 1em;
                margin-bottom: 10px;
            }

            .description {
                font-size: 1em;
            }
        }

        .fav {
            position: absolute;
            right: 25px; top: 0;
            width: 32px; height: 32px;
            background: transparent url('../img/link-fav-off.png') no-repeat center center;
            background-size: 12px 12px;
            border: none;
            padding: 10px;
            color: $dark-grey;

            &.selected {
                background-image: url('../img/link-fav-on.png');
            }

            &:focus { outline: none; }
        }

        .remove {
            position: absolute;
            right: 0; top: 0;
            background: transparent;
            border: none;
            padding: 10px;
            color: $dark-grey;
            &:focus { outline: none; }
        }

        &.unseen {
            background: rgba($blue, 0.05);
            .unseen-indicator {
                display: block;
            }
        }
    }
}