<button id="btn-wayo">Wayo!</button>
<ul class="links"></ul>
<div class="filters">
    <span></span>
    <button class="btn-filter-mate"></button>
    <button class="btn-filter-unseen"></button>
    <button class="btn-filter-fav"></button>
</div>